*.aux
*.cp*
*.fls
*.fn
*.fdb_latexmk
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vim
*.idx
*.ilg
*.ind
*.out
*.swp
*~
assets/figures/chapter*/figure_*.pdf
assets/figures/icons/*_chess_queen.pdf
assets/coverpage.pdf
